@media (min-width: $breakpoint-md){
  .container {
    width: 100vw; 
  }
  
  .container {
    display: grid;
    grid-template-rows: 60px auto auto auto;
    grid-template-columns: 0 1fr;
    grid-template-areas: "uno uno"
                         "tres tres"
                         "dos dos"
                         "cuatro cuatro";
  }
  
  header {
    grid-area: uno;
  }
  
  nav {
    grid-area: dos;
    margin: 40px auto;
  }
  
  main {
    grid-area: tres;
  }
  
  footer {
    grid-area: cuatro;
  }

  .tittle {
      text-align: center;
      padding: 70px;
      padding-bottom: 10px;
  }

  .related__tittle {
    font-size: 25px;
  }

  .related img {
    height: auto;
  }
}    
