//tamaños breakpoints
$breakpoint-xs: 0px;
$breakpoint-sm: 320px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1200px;
//colores
$white: white;
$black: black;

$secundary-color: #453AA4;
//fuentes


