.footer .menu {
  display: flex;
  justify-content: center;
  .menu-item {
    padding: 5%;
  }
}

.copy {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  text-align: center;
  padding: 2% auto;
}