.header {
  display: flex;
  padding: 3%;
  position: fixed;
  background-color: #000;
  width: 100%;
  height: 40px;
}

.header-tittle {
  font-size: 20px;
  padding: 5px;
}

.header-logo {
  width: 29px;
  height: 34px; 
}